process {
    withLabel: small_process {
        cpus = 2
        memory = 4.GB
    }
 
    withLabel: medium_process {
        cpus = 8
        memory = 16.GB
    }
 
    withLabel: high_mem {
        cpus = 4
        memory = 32.GB
    }
 
    withLabel: alignment {
        cpus = 16
        memory = 64.GB
    }
 
    withLabel: wga {
        container = '/uufs/chpc.utah.edu/common/home/vondolen-group1/nextflow_docs/Singularity/WholeGenomeAssembly_Singularity.sif'
    }

    withLabel: mtg {
        container = '/uufs/chpc.utah.edu/common/home/vondolen-group1/nextflow_docs/Singularity/mindthegap_latest.sif'
    }
 
    withLabel: pear {
        container = '/uufs/chpc.utah.edu/common/home/vondolen-group1/nextflow_docs/Singularity/pear_0.9.6--he4cf2ce_4.sif'
    }

    withLabel: tabix {
        container = '/uufs/chpc.utah.edu/common/home/vondolen-group1/nextflow_docs/Singularity/tabix.sif'
    }

        withLabel: GATB {
        container = '/uufs/chpc.utah.edu/common/home/vondolen-group1/nextflow_docs/Singularity/gatb-minia-pipeline_latest.sif'
    }

} 
singularity {
    enabled = true
    runOptions = '-B /uufs/chpc.utah.edu/common/home/vondolen-group1/'
}