process {
    withLabel: small_process {
        cpus = 2
        memory = 4.GB
    }
 
    withLabel: medium_process {
        cpus = 8
        memory = 16.GB
    }
 
    withLabel: high_mem {
        cpus = 4
        memory = 32.GB
    }
 
    withLabel: alignment {
        cpus = 16
        memory = 64.GB
    }
 
    withLabel: wga {
        container = '/path/to/Singularity/or/docker/containers/WholeGenomeAssembly_Singularity.sif'
    }

    withLabel: mtg {
        container = '/path/to/Singularity/or/docker/containers/mindthegap_latest.sif'
    }
 
    withLabel: pear {
        container = '/path/to/Singularity/or/docker/containers/pear_0.9.6--he4cf2ce_4.sif'
    }

    withLabel: tabix {
        container = '/path/to/Singularity/or/docker/containers/tabix.sif'
    }

        withLabel: GATB {
        container = '/path/to/Singularity/or/docker/containers/gatb-minia-pipeline_latest.sif'
    }

} 
singularity {
    enabled = true
    runOptions = '-B /path/to/directory/above/all/nextflow/singularity/genetic-reads/directories/'
}